<div class="main">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>规则名</th>
        <th>匹配网址前缀</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td><pre>{{ data.pattern }}</pre></td>
        <td>
          <a (click)="editRule(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteRule(data.id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="button-panel">
    <button nz-button nzType="primary" (click)="add()">添加规则</button>
    <button nz-button nzType="default" (click)="importData()">导入</button>
    <button nz-button nzType="default" (click)="exportData()">导出</button>
  </div>
  <nz-modal [nzWidth]="800" [(nzVisible)]="ruleModalVisible" nzTitle="规则设置" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <input class="input-name" nz-input placeholder="规则名" [(ngModel)]="currentRule!.name" />
      <textarea nz-input placeholder="匹配网址前缀（支持多行）" [(ngModel)]="currentRule!.pattern"></textarea>
      <div class="cursor-panel">
        <div *ngFor="let item of cursorTypes" class="cursor-item">
          <nz-upload class="image-uploader" nzListType="picture-card" [nzShowUploadList]="false"
            [nzCustomRequest]="customUpload(item)">
            <div *ngIf="!currentRule!.cursor[item].data">
              <i class="upload-icon" nz-icon nzType='plus'></i>
              <div class="ant-upload-text">{{friendlyNames[item]}}</div>
            </div>
            <img *ngIf="currentRule!.cursor[item].data" [src]="getSantizeUrl(currentRule!.cursor[item].data)" alt="cursor image"
              class="upload-image" />
          </nz-upload>
          <div *ngIf="currentRule" class="size-panel">
            <nz-switch [ngModel]="currentRuleSizeSwitch![item]" (ngModelChange)="switchSize(item, $event)"
              nzCheckedChildren="宽高" nzUnCheckedChildren="原始"></nz-switch>
            <div *ngIf="currentRule!.cursor[item].size">
              <nz-input-number class="size-input-number" title="宽" [nzMin]="1"
                [(ngModel)]="currentRule!.cursor[item].size!.width"></nz-input-number>
              <span>❌</span>
              <nz-input-number class="size-input-number" title="高" [nzMin]="1"
                [(ngModel)]="currentRule!.cursor[item].size!.height"></nz-input-number>
            </div>
          </div>
          <div *ngIf="currentRule" class="size-panel">
            <span>光标中心</span>
            <div *ngIf="currentRule!.cursor[item].size">
              <nz-input-number class="size-input-number" title="x偏移" [nzMin]="1"
                [(ngModel)]="currentRule!.cursor[item].center.x"></nz-input-number>
              <span>⭕</span>
              <nz-input-number class="size-input-number" title="y偏移" [nzMin]="1"
                [(ngModel)]="currentRule!.cursor[item].center.y"></nz-input-number>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>